/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
    --background-color: #D1FDFF;
    --re-background-color: #C2FCFF;
    --primary-color: #102266;
    --body-color: #000000;
    --highlight-color: #49FFD9;
    --header-color: #F4FBEE;
}
body{
    color: var(--body-color);
    font-family: 'Oswald', sans-serif;
    line-height: 1.09;
    background: radial-gradient(circle, var(--re-background-color), var(--background-color));
}
a{
    text-decoration: none;
}
/* **************************************************
    HEADER 
************************************************* **/
.header-container{
    height: 50px;
    margin-top: -15px;
    background-color: #07133f;
    color: var(--header-color);
}
.header-message{
    font-size: 20px;
    text-align: right;
    padding: 10px;
}
/* **************************************************
    MAIN 
************************************************* **/
main{
    margin: 2.7vw;
}
.main-container h1{
    font-size: 34px;
}
/* --- OPTIONS --- */
.options-container{
    margin: 2vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.option-item{
    margin: 2vw;
    padding: 1vw;
    border-radius: 2px;
    outline: 3px solid var(--primary-color);
    min-width: 320px;
}
.option-item-item{
    display: grid;
    grid-template-columns: 25% 1fr;
    color: var(--primary-color);
}
.option-item-item h2{
    font-size: 27px;
}
/* --- TYPE WRITER BANNER CARET --- */
.cursor-text{
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
/* **************************************************
    FOOTER
************************************************* **/
footer{
    height: 70px;
    background-color: #07133f;
    color: var(--header-color);
}
.footer-final{
    text-align: center;
    padding: 25px;
}
/* **************************************************
    ANIMATIONS
************************************************* **/
/* --- CARET --- */
@keyframes caret{
    50% {
      border-color: transparent;
    }
}