/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
  --background-color: #D1FDFF;
  --re-background-color: #C2FCFF;
  --primary-color: #102266;
  --body-color: #000000;
  --highlight-color: #49FFD9;
  --header-color: #F4FBEE;
}
body{
  color: var(--body-color);
  font-family: 'Oswald', sans-serif;
  line-height: 1.09;
  background: radial-gradient(circle, var(--re-background-color), var(--background-color));
}
a{
  text-decoration: none;
}
/* **************************************************
    LANGUAGE SWITCH STYLES
************************************************* **/
.language-selector {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: solid 1px var(--header-color);
  z-index: 10;
}

/* **************************************************
    SCROLL SNAP STYLES
************************************************* **/
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.scroll-item {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.scroll-item:nth-child(2) {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.scroll-item h2 {
  margin: 0;
  padding: 1rem;
  background-color: var(--header-color);
  color: var(--primary-color);
  border-radius: 5px;
}

.scroll-item__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
}

.scroll-item__inner {
  border: 2px solid white;
  padding: 1rem;
  transition: opacity 800ms, transform 800ms;
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);
}

.scroll-item__inner.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.scroll-item__bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll-item__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
