/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root {
  --background-color: #d1fdff;
  --re-background-color: #c2fcff;
  --primary-color: #102266;
  --body-color: #000000;
  --highlight-color: #49ffd9;
  --header-color: #f4fbee;
}
body {
  color: var(--body-color);
  font-family: "Oswald", sans-serif;
  line-height: 1.09;
  background: radial-gradient(
    circle,
    var(--re-background-color),
    var(--background-color)
  );
}
a {
  text-decoration: none;
}
/* **************************************************
    LANGUAGE SWITCH STYLES
************************************************* **/
.language-selector {
  position: fixed;
  top: 0.5rem;
  right: 2.5vw;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--highlight-color);
  z-index: 10;
}

.language-selector:hover {
  color: var(--primary-color);
}

/* **************************************************
    SCROLL SNAP STYLES
************************************************* **/
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.scroll-item {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.scroll-item:nth-child(odd) {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.scroll-item h2 {
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
}

.scroll-item__content {
  height: 100vh;
  font-size: 1.2rem;
  max-width: 1280px;
}

.scroll-item__inner {
  padding: 1rem;
  transition: opacity 800ms, transform 800ms;
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);
}

.scroll-item__inner.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.scroll-item__bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll-item__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* **************************************************
    SCROLL-3 SKILLS STYLES
************************************************* **/
.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
}

@media (min-width: 768px) {
  .skills-container {
    flex-direction: row;
  }
}

.split-pane {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  min-height: 30vh;
}

@media (min-width: 768px) {
  .split-pane {
    width: 50%;
  }
}

.skills-left {
  /* outline: solid 2px var(--highlight-color); */
}

.skills-right {
  /* outline: solid 2px var(--highlight-color); */
  min-height: 70vh;
}

.skills-content {
  width: 80%;
  max-width: 500px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 8px;
}

/* SKILLS CARDS */
.skills-card {
  width: 60px;
  height: 60px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  position: relative;
  pointer-events: auto;
}
.skills-card img {
  width: 60%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}
.skills-card:hover {
  background: #444;
  transform: scale(1.1);
}
.skills-card:hover img {
  opacity: 0.2;
}
.skills-card .skills-card-name {
  position: absolute;
  opacity: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}
.skills-card:hover .skills-card-name {
  opacity: 1;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(30px, 40px));
    gap: 15px;
  }

  .skills-card {
    height: 90%;
    width: 90%;
    aspect-ratio: 1 / 1;
    padding: 5px;
  }

  .skills-card img {
    width: 90%;
  }

  .skills-card .skills-card-name {
    font-size: 8px;
  }
}

/* SKILLS CARDS SELECTED */

.selected-skill-card {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  line-height: 1.5;
  height: 80%;
}

.selected-skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.selected-skill-card img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.selected-skill-card:hover img {
  transform: scale(1.1);
}

.selected-skill-card h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.selected-skill-card p {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 90%;
}

.skills-experience {
  text-align: start;
  max-width: 90%;
}

@media (max-width: 768px) {
  .selected-skill-card {
    padding: 1rem;
  }

  .selected-skill-card img {
    width: 60px;
  }

  .selected-skill-card h3 {
    font-size: 1.4rem;
    line-height: 1;
  }

  .selected-skill-card p {
    font-size: 0.9rem;
  }
  .skills-experience {
    display: none;
  }
}

/* **************************************************
    SCROLL-4 CONTACT STYLES
************************************************* **/
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.contact-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 1em;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 220px;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.contact-icon img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover .contact-icon img {
  transform: scale(1.1);
}

.contact-text h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .contact-card {
    min-width: 130px;
    padding: 0.2em;
  }
  .contact-icon img {
    width: 45px;
  }
  .contact-text h3 {
    font-size: 0.8rem;
  }
}
/* **************************************************
    SCIENCE QUOTE STYLES
************************************************* **/
.science-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

.science-icon img {
  width: 70px;
  height: 70px;
}

.science-text {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
  max-width: 500px;
}

@media (max-width: 768px) {
  .science-quote {
    flex-direction: column;
    text-align: center;
  }

  .science-icon img {
    width: 50px;
    height: 50px;
  }

  .science-text {
    font-size: 1rem;
  }
}
/* **************************************************
    FOOTER
************************************************* **/
.footer-container {
  height: 70px;
  color: var(--header-color);
  background-color: #07133f;
  width: 100%;
}
.footer-final {
  margin-top: 20px;
  text-align: center;
}
